body{
    width: 1000px;
    height: 600px;
    background-color: aqua;
}
.linha1, .linha2, .linha3{
    width: 100% ;
    height: 33%;
    background-color: pink ;
    margin-top: 0.3%;
    flex-direction: row;
}
.linha11, .linha12, .linha13, .linha14, .linha15, .linha21, .linha22, .linha23, .linha24,.linha25, .linha31, .linha32, .linha33, .linha34, .linha35{
    width: 18%;
    height: 100%;
    background-color: chartreuse ;
    margin-left: 1.5%;
    float: left ;
    display: inline ;
    flex-direction: row;
}
.cima, .baixo, .foto{
    display: inline;
    float: left;
}
.cima, .baixo{
    width: 10%;
    height: 10%;
}
.foto{
    width:80% ;
    height: 80%;
}
.baixo{
    margin-top: 90%;
}
.cima{
    margin-top: -1%;
}
